@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

/** GENERAL **/
body {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: #F5CB5C;
    background-color: #242423;
}
h1 {
    font-size: 400%;
}
p {
    text-align: justify;
    color: #CFDBD5;
}
a {
    color: #F5CB5C;
    text-decoration: none;
}
hr {
    width: 33%;
    border-width: 0;
    height: 2px;
    color: #F5CB5C;
    background-color: #F5CB5C;
}

/** COLOR PALETTE https://coolors.co/palette/cfdbd5-e8eddf-f5cb5c-242423-333533 **/
.black {
    color: #242423;
}
.dgrey {
    color: #333533;
}
.yellow {
    color: #F5CB5C;
}
.offwhite {
    color: #E8EDDF;
}
.lgrey {
    color: #CFDBD5;
}

/** id **/
.center {
    text-align: center;
}
.container {
    height: 200px;
    position: relative;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}